// Color variables

$black: #000000;
$grey-text: #636060;
$grey-title-text: #717171;
$grey-border: #E3E1D5;
$green-text: #499A18;
$light-green-button: #C1E698;
$green-grey-button: #D6E7D2;
$light-green-button: #EDF2EC;
$light-green-bg: #EDF2EC;
$orange-button: #E06733;
$orange-text: #E06733;
$white: #FFFFFF;




