@media (max-width: 767px) {
  .description-section {
    width: 100%;
  
    background-color: $white;
  }
  
  .description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
  }
  .description__title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 21px;
  
    color: $green-text;
    text-align: center;
    font-size: 25px;
    font-family: $title-inika-font;
    font-weight: 400;
    line-height: normal;
  }
  .pe {
    color: $orange-text
  }
  .description__text {
    margin: 0;
    padding: 0;
  
    color: $grey-text;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  .description__image {
    width: 150px;
    height: auto;
  
    padding: 0;
    padding-bottom: 31px;
  }
}
@media (min-width: 767px) {
  .description-section {
    width: 100%;
  
    background-color: $white;
  }
  
  .description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
  }
  .description {
  }
  .description__title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 21px;
  
    color: $green-text;
    text-align: center;
    font-size: 25px;
    font-family: $title-inika-font;
    font-weight: 400;
    line-height: normal;
  }
  .pe {
    color: $orange-text
  }
  .description__text {
    margin: 0;
    padding: 0;
  
    color: $grey-text;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  .description__image {
    width: 150px;
    height: auto;
  
    padding: 0;
    padding-bottom: 31px;
  }
}
@media (min-width: 1240px) {
}